@import url("https://fonts.googleapis.com/css?family=Chakra+Petch|Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #110038 !important;
}

.navbar {
  padding: 0 !important;
  width: 100%;
}
.navbar nav {
  width: 100%;
  height: 23px;
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  box-shadow: 0 1px 0 0 #110038;
}
.navbar p {
  margin: auto 0 auto 50px;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
}

.contenedor {
  margin: 20px auto 10px auto;
  padding: 20px 0 20px 0;
  margin-top: 10px;
  max-width: 1200px;
}
.contenedor h1 {
  color: #110038;
  font-family: "Chakra Petch", sans-serif;
}
.contenedor li {
  display: inline-block;
}
.contenedor .tarjetasBusqueda {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 1200px;
  margin-bottom: -30px;
  display: flex;
  flex-wrap: wrap;
}
.contenedor .resBusquedaStorage {
  padding: 10px;
  background: #2e32fb;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 18px;
  margin: 2px 5px 2px 5px;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 92.6px;
  height: 54px;
  background-size: 92.6px 54px;
  background-repeat: no-repeat;
  background-image: url("/img/gifOF_logo_dark.png");
  cursor: pointer;
}

.botones button {
  width: 144px;
  height: 36px;
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  margin-right: 15px;
}
.botones select {
  width: 144px;
  height: 36px;
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  margin-right: 15px;
}
.botones select:hover {
  outline: 1px dotted #110038;
}
.botones a:not([href]) {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 5px;
}
.botones a:not([href]):hover {
  padding: 4px;
  color: #ffffff;
  border: 1px dotted #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.botones a:not([href]):active {
  color: #ffffff;
  border: 1px dotted #ffffff;
  text-decoration: none;
}

.buscar {
  height: 99px;
  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}
.buscar .lbl {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  display: block;
  margin-left: 0px !important;
  padding-left: 5px;
}
.buscar .formBuscar {
  margin: auto;
  height: 99px;
  align-items: center;
}
.buscar .formBuscar input {
  margin: -40px auto 0 auto;
  width: 1057px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  padding: auto;
  padding: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #b4b4b4;
  letter-spacing: 0;
  line-height: 22px;
}
.buscar .formBuscar button {
  margin: -40px auto 0 auto;
  width: 102px;
  height: 36px;
  background: #b4b4b4;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  font-size: 16px;
  color: #8f8f8f;
  letter-spacing: 0;
  line-height: 18px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
}
.buscar .formBuscar .lupa {
  background-image: url("/img/Combined Shape.svg");
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  margin-right: 10px;
  display: inline-block;
  margin: auto 10px auto 0;
}
.buscar .formBuscar img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.filtro_buscar {
  display: flex;
  padding-left: 15px;
  justify-content: space-evenly;
  height: auto;
  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
  margin: auto 0 auto 0;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  width: 100%;
  max-width: 1200px;
}
.filtro_buscar button {
  width: 1055px;
  height: 34px;
  padding-left: 15px;
  margin-bottom: 10px;
  display: block;
  align-items: center;
  text-align: left;
  background: #f0f0f0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  margin: 5px 0 5px 0;
}
.filtro_buscar :first-child {
  margin-top: 10px;
}
.filtro_buscar :last-child {
  margin-bottom: 10px;
}

.sugeridos input {
  width: 1200px;
  height: 32px;
  background: #fffafe;
  border: 1px solid #2e32fb;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  margin-top: 52px;
  padding: 10px;
}

.resultados {
  margin-top: 20px;
}
.resultados .content_resultados {
  padding-top: 3px;
  width: 288px;
  height: 313px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}
.resultados .content_resultados .titulo {
  padding-right: 4px;
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  width: 280px;
  height: 24px;
  text-align: center;
  align-items: center;
  margin: auto;
}
.resultados .content_resultados .titulo label {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  height: 18px;
}
.resultados .content_resultados .titulo button {
  display: flex;
  border: 0;
}
.resultados .content_resultados .img-result {
  width: 280px;
  height: 280px;
  margin: 3px auto 2px auto;
}
.resultados .content_resultados .img-result img {
  width: 280px;
  height: 280px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.resultados .content_resultados .img-result :hover {
  border: 1px dotted #110038;
}
.resultados .content_resultados .img-result button {
  position: absolute;
  margin: 0 0 20px 7px !important;
  width: 81px;
  height: 34px;
  background: #2e32fb;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}
.resultados .content_resultados .img-result :hover {
  border: 1px dotted #110038;
}

.tendencias input {
  width: 1200px;
  height: 32px;
  background: #fffafe;
  border: 1px solid #2e32fb;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  margin-top: 52px;
  padding: 10px;
}

#txtBusqueda {
  display: none;
}

.res_tendencia {
  margin-top: 20px;
}
.res_tendencia input {
  width: 1200px;
  height: 32px;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  margin-top: 52px;
  padding: 10px;
  display: none;
}
.res_tendencia label {
  visibility: hidden;
  height: 24px;
  width: 288px;
  display: block;
  margin-top: -34px;
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  position: relative;
  z-index: 1;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}
.res_tendencia img {
  width: 288px;
  height: 298px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.res_tendencia :hover ~ label {
  visibility: visible;
}

.crearGuifos .guifos {
  display: block;
  margin: 100px auto 100px auto;
  width: 684px;
  height: 386px;
  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}
.crearGuifos .guifos img {
  display: inline;
  padding: 0 5px 0 20px;
}
.crearGuifos .guifos h1 {
  margin-left: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  display: inline;
}
.crearGuifos .guifos p {
  padding-top: 10px;
  padding-left: 70px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  line-height: 25px;
}
.crearGuifos .guifos label {
  padding-left: 10px;
  margin-left: 4px;
  margin-bottom: 40px;
  width: 678px;
  height: 24px;
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 700;
  font-family: "Chakra Petch", sans-serif;
}
.crearGuifos .guifos .botonesCaptura {
  padding-right: 35px;
}
.crearGuifos .guifos .botonesCaptura button {
  width: 144px;
  height: 36px;
  color: #110038;
  margin: 10px;
  background: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}
.crearGuifos .guifos .botonesCaptura #btnComenzar {
  color: #fff;
  background: #ce36db;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}
.crearGuifos .misGuifo input {
  margin: 20px auto 0 auto;
  width: 1200px;
  height: 32px;
  background: #fffafe;
  border: 1px solid #2e32fb;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  padding-left: 15px;
}
.crearGuifos .capturar {
  width: 860px;
  height: 548px;
  background: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
  display: none;
  margin: 100px auto 0 auto;
}
.crearGuifos .capturar label {
  padding-left: 10px;
  margin-left: 4px;
  width: 854px;
  height: 24px;
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 700;
  font-family: "Chakra Petch", sans-serif;
}
.crearGuifos .capturar .div-capturar video {
  width: 830px;
  height: 434px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: block;
}
.crearGuifos .capturar #btnCapturar {
  margin: 20px 15px auto 0;
  width: 114px;
  height: 36px;
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  font-size: 16px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}
.crearGuifos .capturar #btnListo {
  display: none;
  margin: 20px 15px auto 0;
  width: 114px;
  height: 36px;
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
  font-size: 16px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}
.crearGuifos .capturar #btnImgCaptura {
  color: #ffffff;
  background: #fff;
  width: 36px;
  height: 36px;
  margin: 20px 0 auto 0;
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}
.crearGuifos .capturar #btnImgListo {
  display: none;
  color: #ffffff;
  background: #fff;
  width: 36px;
  height: 36px;
  margin: 20px 0 auto 0;
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
}
.crearGuifos .capturar .imgBotonCaptura {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url("/img/camera.svg");
}
.crearGuifos .capturar .imgBotonListo {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url("/img/recording.svg");
}
.crearGuifos .capturar .btnUploadGif {
  display: none;
  margin: 20px 15px auto 0;
  width: 114px;
  height: 36px;
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  font-size: 16px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}
.crearGuifos .capturar .btnRepetir {
  display: none;
  margin: 20px 15px auto 0;
  width: 140px;
  height: 36px;
  background: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  font-size: 16px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}
.crearGuifos .capturar .txtTiempo {
  width: 114px;
  height: 36px;
  float: left;
  margin: -40px 0 auto 15px;
}

#imgVolver {
  position: absolute;
  left: 320px;
  top: 65px;
}

.guifoCreado {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 721px;
  height: 391px;
  margin: 0 auto 0 auto;
}
.guifoCreado .flexGuifoCreado {
  margin-top: 28px;
  display: flex;
}
.guifoCreado .imgGuifo {
  margin-left: 30px;
  justify-content: left;
  align-items: center;
}
.guifoCreado .imgGuifo h1 {
  margin-top: 20px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}
.guifoCreado .imgGuifo button {
  margin-top: 10px;
  width: 256px;
  height: 36px;
  background: #fff4fd;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}
.guifoCreado .imgGuifo img {
  opacity: 0.7;
  margin: auto;
}
.guifoCreado .imgGuifo:first-child {
  width: 371px;
  height: 195px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}
.guifoCreado label {
  padding-left: 10px;
  margin-left: 4px;
  width: 715px;
  height: 24px;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  font-weight: 700;
  font-family: "Chakra Petch", sans-serif;
}
.guifoCreado button {
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  width: 144px;
  height: 36px;
  margin: 60px 40px 0 0;
  float: right;
}

#txtGuifos {
  background-color: red;
  margin: 20px auto 0 auto;
  width: 1200px;
  height: 32px;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  padding-left: 15px;
}

#txtGuifosIndex {
  background-color: red;
  margin: 20px auto 0 auto;
  width: 1200px;
  height: 32px;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  padding-left: 15px;
  display: none;
}

#temporizador {
  font-size: 20px;
  margin: -40px 0 auto 15px;
  width: 114px;
  height: 36px;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

#temporizador span {
  line-height: 36px;
}

/*# sourceMappingURL=style2.css.map */
