@import url("https://fonts.googleapis.com/css?family=Chakra+Petch|Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff4fd;
}

$font-primary: "Chakra Petch", sans-serif;
$color-primary: #110038;

*,
::after,
::before {
  box-sizing: border-box;
}

//#region NAVBAR
.navbar {
  padding: 0 !important;
  width: 100%;
  nav {
    width: 100%;

    height: 23px;
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    box-shadow: 0 1px 0 0 #110038;
  }
  p {
    margin: auto 0 auto 50px;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 0;
    font-family: $font-primary;
    font-weight: 400;
    align-content: center;
  }
}

//#endregion

//#region CONTENEDOR
.contenedor {
  margin: 20px auto 10px auto;
  padding: 20px 0 20px 0;
  margin-top: 10px;
  max-width: 1200px;

  h1 {
    color: $color-primary;
    font-family: $font-primary;
  }
  li {
    display: inline-block;
  }

  .tarjetasBusqueda {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 1200px;

    margin-bottom: -30px;
    display: flex;
    flex-wrap: wrap;
  }

  .resBusquedaStorage {
    padding: 10px;
    background: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
    font-family: $font-primary;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 18px;
    margin: 2px 5px 2px 5px;
    cursor: pointer;
  }

  .seccion-logo {
    display: flex;
    justify-content: space-between;
  }
}

//#endregion

//#region SECCION LOGO

.logo {
  margin-bottom: 30px;
  width: 92.6px;
  height: 54px;
  background-size: 92.6px 54px;
  background-repeat: no-repeat;
  background-image: url("/img/gifOF_logo.png");
  cursor: pointer;
  // background-position: center;
}
.botones {
  i {
    margin-right: -40px;
    padding-left: 15px;
  }

  .fa-caret-down::before {
    content: "\f0d7";
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    padding: 9px 12px 9px;
  }
  button {
    width: 144px;
    height: 36px;
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin-right: 15px;
    &:hover {
      // box-sizing: border-box;
      // -moz-box-sizing: border-box;
      // -webkit-box-sizing: border-box;
      background: #E6BBE2;
      border: inset 5px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    }
  }
  select {
    width: 144px;
    height: 36px;
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    margin-right: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;

    &:hover {
      outline: 1px dotted #110038;
    }
  }
  a {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
    padding: 5px;
    &:hover {
      padding: 4px;
      color: #110038;
      border: 1px dotted #110038;
      text-decoration: none;
      cursor: pointer;
    }

    &:active {
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 18px;
    }
  }
}

//#endregion

//#region CONTENIDO TEMA
#btnCambiarTema {
  width: 160px;
}
.divTema {
  // background: #ce36db;
  // border: 1px solid #110038;
  // box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}

.contentTema {
  // display: inline-block;
  padding: 6px;
  position: absolute;
  width: 170px;
  height: 102px;
  left: 67.6%;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  button {
    margin: 3px;
    width: 150px;
    height: 36px;
    display: inline-block;
    background: #f0f0f0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  }
}

//#endregion

//#region SECCION BUSCAR
.buscar {
  height: 99px;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin-top: 3px;

  .lbl {
    font-family: $font-primary;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    display: block;
    margin-left: 2px !important;
    padding-left: 5px;
  }
  .formBuscar {
    margin: auto;
    height: 99px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    input {
      margin: -40px auto 0 auto;
      width: 1057px;
      height: 48px;
      background: #ffffff;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
      padding: auto;
      padding: 10px;
      color: #b4b4b4;
      line-height: 22px;
    }
    button {
      margin: -40px auto 0 auto;
      width: 102px;
      height: 36px;
      background: #e6e6e6;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
    }
    .lupa {
      background-image: url("/img/lupa_inactive.svg");
      width: 16px;
      height: 16px;
      background-size: 16px 16px;
      background-repeat: no-repeat;
      margin-right: 10px;
      display: inline-block;
      margin: auto 10px auto 0;
    }
    img {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
  }
}

//#region SECCION FILTRO BUSCAR
.filtro_buscar {
  display: flex;
  padding-left: 15px;
  justify-content: space-evenly;
  height: auto;
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin: auto 0 auto 0;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  width: 100%;
  max-width: 1200px;

  button {
    width: 1055px;
    height: 34px;
    padding-left: 15px;
    margin-bottom: 10px;
    display: block;
    align-items: center;
    text-align: left;

    background: #f0f0f0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    margin: 5px 0 5px 0;
  }
  & :first-child {
    margin-top: 10px;
  }
  & :last-child {
    margin-bottom: 10px;
  }
}

//#endregion

//#endregion

//#region SECION SUGERIDOS

.sugeridos {
  display: flex;
  justify-content: space-between;
  input {
    width: 1200px;
    height: 32px;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    margin-top: 52px;
    padding: 10px;
  }
}

//#endregion

//#region SECCION RESULTADOS SUGERIDOS

.resultados {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .content_resultados {
    padding-top: 3px;
    width: 288px;
    height: 313px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;

    .titulo {
      display: flex;
      justify-content: space-between;
      padding-right: 4px;
      background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
      width: 280px;
      height: 24px;
      text-align: center;
      align-items: center;
      margin: auto;

      label {
        font-family: $font-primary;
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 0;
        height: 18px;
      }
      button {
        display: flex;
        border: 0;
      }
    }

    .img-result {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: 280px;
      height: 280px;
      margin: 3px auto 2px auto;

      img {
        width: 280px;
        height: 280px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        // margin: 2px auto 2px auto;
      }
      & :hover {
        border: 1px dotted #110038;
      }

      button {
        position: absolute;
        margin: 0 0 20px 7px !important;
        width: 81px;
        height: 34px;
        background: #4180f6;
        border: 1px solid #4c2f99;
        box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
        font-family: ChakraPetch-Regular;
        font-size: 14px;
        color: #ffffff;
        letter-spacing: 0;
        text-align: center;
        line-height: 18px;
      }
      & :hover {
        border: 1px dotted #110038;
      }
    }
  }
}

//#endregion

//#region SECCION TENDENCIAS

.tendencias {
  input {
    width: 1200px;
    height: 32px;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    margin-top: 52px;
    padding: 10px;
  }
}

.img-tendencia {
  margin-top: 5px;
}

//#endregion

//#region SECCION RESULTADO TENDENCIA

#txtBusqueda {
  display: none;
}
.contentResul {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  input {
    width: 1200px;
    height: 32px;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    margin-top: 52px;
    padding: 10px;
    display: none;
  }

  label {
    visibility: hidden;
    padding-left: 5px;
    height: 24px;
    width: 288px;
    display: block;
    margin-top: -34px;
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    position: relative;
    z-index: 1;
    font-family: $font-primary;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
  }

  img {
    width: 288px;
    height: 298px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  & :hover ~ label {
    visibility: visible;
  }
}

//#endregion

//#region CONTENIDO MIS GUIFOS

.contentSubirGuifo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.crearGuifos {
  .guifos {
    display: block;
    margin: 100px auto 100px auto;
    width: 684px;
    height: 386px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    // padding: 40px;

    img {
      display: inline;
      padding: 0 5px 0 20px;
    }

    h1 {
      margin-left: 10px;
      font-family: $font-primary;
      font-weight: 700;
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 22px;
      display: inline;
    }
    p {
      padding-top: 10px;
      padding-left: 70px;
      font-family: $font-primary;
      font-weight: 400;
      font-size: 14px;
      color: #110038;
      letter-spacing: 0;
      line-height: 25px;
    }
    label {
      padding: 2px 0 0 10px;
      margin: 0 0 40px 1px;
      display: block;
      width: 680px;
      height: 24px;
      background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
      font-size: 14px;
      color: #ffffff;
      letter-spacing: 0;
      font-weight: 700;
      font-family: $font-primary;
    }
  }

  .botonesCaptura {
    padding-right: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      width: 144px;
      height: 36px;
      background: #fff4fd;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      font-family: $font-primary;
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      text-align: center;
      line-height: 18px;
      margin-right: 15px;
    }
    #btnComenzar {
      color: #110038;
      background: #f7c9f3;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
  }

  //CAPTURA
  .capturar {
    width: 860px;
    height: 548px;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    display: none;
    margin: 100px auto 100px auto;

    label {
      padding: 5px 0 0 10px;
      margin-left: 3px;
      display: block;
      width: 854px;
      height: 24px;
      background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
      font-size: 14px;
      color: #ffffff;
      letter-spacing: 0;
      font-weight: 700;
      font-family: $font-primary;
    }

    .div-capturar {
      video {
        width: 830px;
        height: 434px;
        background: #ffffff;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        display: block;
      }
    }

    #btnCapturar {
      margin: 20px 15px auto 0;
      width: 114px;
      height: 36px;
      background: #f7c9f3;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
    #btnListo {
      display: none;
      margin: 20px 15px auto 0;
      width: 114px;
      height: 36px;
      background: #ff6161;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
    }

    #btnImgCaptura {
      width: 36px;
      height: 36px;
      margin: 20px 0 auto 0;
      background: #f7c9f3;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 50% 50%; 
    }
    #btnImgListo {
      display: none;
      width: 36px;
      height: 36px;
      margin: 20px 0 auto 0;
      background: #ff6161;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 50% 50%; 
    }

    .btnUploadGif {
      display: none;
      margin: 20px 15px auto 0;
      width: 114px;
      height: 36px;
      background: #f7c9f3;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }

    .btnRepetir {
      display: none;
      margin: 20px 15px auto 0;
      width: 120px;
      height: 36px;
      background: #fff4fd;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
  }
}

#imgVolver {
  position: absolute;
  left: 320px;
  top: 65px;
}

.guifoCreado {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 721px;
  height: 391px;
  margin: 0 auto 0 auto;
  // align-items: center;

  .flexGuifoCreado {
    margin-top: 28px;
    display: flex;
  }
  .imgGuifo {
    margin-left: 30px;
    // width: calc((100% / 2));
    justify-content: left;
    align-items: center;

    h1 {
      margin-top: 20px;
      font-family: $font-primary;
      font-weight: 700;
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      line-height: 22px;
    }
    button {
      margin-top: 10px;
      width: 256px;
      height: 36px;
      background: #fff4fd;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
    img {
      opacity: 0.7;
      margin: auto;
    }
  }
  .imgGuifo:first-child {
    width: 371px;
    height: 195px;
    background: #ffffff;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  }

  label {
    display: block;
    padding-top: 2px;
    padding-left: 10px;
    margin-left: 2px;
    width: 715px;
    height: 24px;
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    font-weight: 700;
    font-family: $font-primary;
  }
  button {
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    font-family: $font-primary;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    width: 144px;
    height: 36px;
    margin: 60px 40px 0 0;
    float: right;
  }
}

#txtGuifos {
  background-color: red;
  margin: 20px auto 0 auto;
  width: 1200px;
  height: 32px;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  font-family: $font-primary;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  padding-left: 15px;
}

#txtGuifosIndex {
  background-color: red;
  margin: 20px auto 0 auto;
  width: 1200px;
  height: 32px;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  font-family: $font-primary;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  padding-left: 15px;
  display: none;
}

//ESTILOS BARRA DE REPRODUCCION GIF - ANTES DE CARGAR
#play {
  width: 20px;
  height: 20px;
  margin: 25px 5px auto 0;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  text-align: center;
  font-size: 10px;
}

.barraProgreso {
  margin: 14px 180px auto 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 240px;
  height: 20px;
  border: 1px solid #999999;
  box-shadow: initial 2px 2px 0 0 #e6e6e6, inset -2px -2px 0 0 #000000;
  .caja {
    width: 20px;
    height: 20px;
    // background: #F7C9F3;
    border: 1px solid #b4b4b4;
  }
}

//#endregion

//#region ESTILOS PARA TEMPORIZADOR
#temporizador {
  font-size: 20px;
  margin: -40px 0 auto 15px;
  width: 114px;
  height: 36px;
  text-align: center;
  font-family: $font-primary;
  font-size: 20px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
}

#temporizador span {
  line-height: 36px;
}
//#endregion
